@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


:root {

    /* ## Colors */
    
    /* ### Primary */
    
    --clr-Soft-blue: hsl(215, 51%, 70%);
    --clr-Cyan: hsl(178, 100%, 50%);
    
    /* ### Neutral */
    
    --clr-Very-dark-blue: hsl(217, 54%, 11%);/* main bg */
    --clr-Very-dark-blue: hsl(216, 50%, 16%);/* card bg */
    --clr-Very-dark-blue: hsl(215, 32%, 27%);/* line */
    --clr-White: hsl(0, 0%, 100%);
    
    /* ## Typography */

    --fs: 18px;
    --Family: 'Outfit', sans-serif;
    --fw-regular: 300;
    --fw-semibold: 400;
    --fw-bold: 600;

}

/* RESET DEFAULTS */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}







